<a href="https://colab.research.google.com/github/Mudit88/Data_Mining/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# IMPORTING MODULES

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("Mudit_Tripathi.csv")
df.head()

  Patient ID         Age Sex      BP Cholesterol    Drug
0         p1       Young   F    High      Normal  Drug A
1         p2       Young   F    High        High  Drug A
2         p3  Middle-age   F    High      Normal  Drug B
3         p4      Senior   F  Normal      Normal  Drug B
4         p5      Senior   M     Low      Normal  Drug B

In [27]:
inputs = df.drop('Drug',axis='columns')

In [28]:
inputs2 = df.drop('Patient ID',axis = 'columns')

In [29]:
target = df['Drug']

In [30]:
from sklearn.preprocessing import LabelEncoder
le_Age = LabelEncoder()
le_Sex = LabelEncoder()
le_BP = LabelEncoder()
le_Cholesterol = LabelEncoder()
le_Drug = LabelEncoder()

In [31]:
inputs['Age_n'] = le_Age.fit_transform(inputs['Age'])
inputs['Sex_n'] = le_Sex.fit_transform(inputs['Sex'])
inputs['BP_n'] = le_BP.fit_transform(inputs['BP'])
inputs['Cholesterol_n'] = le_Cholesterol.fit_transform(inputs['Cholesterol'])

In [32]:
inputs

,Patient ID,Age,Sex,BP,Cholesterol,Age_n,Sex_n,BP_n,Cholesterol_n
0,p1,Young,F,High,Normal,2,0,0,1
1,p2,Young,F,High,High,2,0,0,0
2,p3,Middle-age,F,High,Normal,0,0,0,1
3,p4,Senior,F,Normal,Normal,1,0,2,1
4,p5,Senior,M,Low,Normal,1,1,1,1
5,p6,Senior,M,Low,High,1,1,1,0
6,p7,Middle-age,M,Low,High,0,1,1,0
7,p8,Young,F,Normal,Normal,2,0,2,1
8,p9,Young,M,Low,Normal,2,1,1,1
9,p10,Senior,M,Normal,Normal,1,1,2,1
10,p11,Young,M,Normal,High,2,1,2,0
11,p12,Middle-age,F,Normal,High,0,0,2,0
12,p13,Middle-age,M,High,Normal,0,1,0,1
13,p14,Senior,F,Normal,High,1,0,2,0

In [33]:
inputs_n = inputs.drop(['Patient ID','Age','Sex','BP','Cholesterol'],axis='columns')

In [34]:
inputs_n

    Age_n  Sex_n  BP_n  Cholesterol_n
0       2      0     0              1
1       2      0     0              0
2       0      0     0              1
3       1      0     2              1
4       1      1     1              1
5       1      1     1              0
6       0      1     1              0
7       2      0     2              1
8       2      1     1              1
9       1      1     2              1
10      2      1     2              0
11      0      0     2              0
12      0      1     0              1
13      1      0     2              0

# IMPLEMENTING MODEL

In [35]:
target

0     Drug A
1     Drug A
2     Drug B
3     Drug B
4     Drug B
5     Drug A
6     Drug B
7     Drug A
8     Drug B
9     Drug B
10    Drug B
11    Drug B
12    Drug B
13    Drug A
Name: Drug, dtype: object

In [36]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [37]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [38]:
model.score(inputs_n,target)

1.0

In [42]:
model.predict([[0,0,1,1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Drug B'], dtype=object)